xcuserdata/
*/.DS_Store

﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AoC_2021/v16/ipch/AutoPCH
/.vs/AoC_2021/v16
/AoC_3/Debug/AoC_3.tlog
/AoC_3/Debug
/AoC_6/Debug/AoC_6.tlog
/AoC_6/Debug
/AoC_5/.vs/AoC_5/v16
/Debug
.DS_Store
/AoC_7/Debug
/AoC_7/.vs/AoC_7/v16
/AoC_7/AoC_7.vcxproj.user
/AoC_8/Debug
/AoC_8/.vs/AoC_8/v16
/AoC_8/AoC_8.vcxproj.user
/AoC_10/.vs/AoC_10/v16
/AoC_10/Debug
/AoC_9/.vs/AoC_9/v16
/AoC_9/Debug
*.xcbkptlist
/AoC_1/Debug
/AoC_11/Debug
/AoC_12/Debug
/AoC_13/Debug
/AoC_2/Debug
/AoC_4/Debug
/AoC_5/Debug
/AoC_13/.vs/AoC_13/v16
/AoC_12/.vs/AoC_12/v16
/AoC_11/.vs/AoC_11/v16
/AoC_14/Debug
/AoC_15/.vs/AoC_15/v16
/AoC_16/.vs/AoC_16/v16
/AoC_17/.vs/AoC_17/v16
/AoC_18/.vs/AoC_18/v16
/AoC_19/.vs/AoC_19/v16
/AoC_20/.vs/AoC_20/v16
/AoC_21/.vs/AoC_21/v16
/AoC_22/.vs/AoC_22/v16
/AoC_23/.vs/AoC_23/v16
/AoC_24/.vs/AoC_24/v16
/AoC_25/.vs/AoC_25/v16
/PredictedInputCache_AoC_2021_Debug_x86.dat
/AoC_15/Debug
/AoC_16/Debug
/AoC_17/Debug
/AoC_18/Debug
/AoC_19/Debug
/AoC_20/Debug
/AoC_21/Debug
/AoC_22/Debug
/AoC_23/Debug
/AoC_24/Debug
/AoC_25/Debug
